* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 Helvetica, sans-serif, bold;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* .fixed menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

.fixed-menu {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 50px;
  padding-left: 14px;
  background: #f3c4d9;
}

.fixed-menu .menu-open {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  text-align: left;
  font-size: 23px;
  height: 40px;
  width: 17px;
  color: #37545f;
}

.fixed-menu .menu-open:active {
  color: rgb(235, 241, 243);
}

.fixed-menu .menu-open:hover {
  color: #80878a;
}
/* .top-banner
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-nav li + li {
  margin-top: 7px;
}
.top-nav li {
  height: 40px;
  overflow: hidden;
}

.top-nav li:hover {
  font-weight: 1000;
}

.link-text {
  position: absolute;
  overflow: hidden;
  height: 40px;
  text-decoration: none;
  color: #37545f;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.link-text:hover {
  color: #80878a;
  text-decoration: none;
}

/* .menu-wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.menu-wrapper {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 50px;
  width: 180px;
  padding: 15px;
  transform: translateX(-100%);
  transition: transform 0.3s, width 0.3s;
  /* background: linear-gradient(to bottom, rgba(1, 52, 129, 0.836), transparent); */
  background-color: #f7ecf1;
  border-top-right-radius: 5%;
}

.menu-wrapper.is-opened {
  transform: translateX(0px);
  transition: transform 0.3s, width 0.3s;
}

.menu-wrapper .menu {
  opacity: 0;
  transition: opacity 0.4s;
}

.menu-wrapper.is-opened .menu {
  opacity: 1;
  transition-delay: 0.2s;
}

.menu-wrapper .sub-menu {
  padding: 10px 0 0 7px;
}

/* 버튼 리사이즈 */
.menu-resize {
  display: flex;
  position: absolute;
  width: 180px;
  transform: translateX(-100%);
  transition: transform 0.3s, width 0.3s;
  background-color: #f3c4d9;
  height: 50px;
  bottom: 0px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.menu-resize.is-opened {
  transform: translateX(0px);
}
.btn-resize {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.8rem;
  text-align: right;
  color: #37545f;
  padding-right: 20px;
}
.btn-resize:hover {
  color: #80878a;
}

.is-resized {
  width: 56px;
}
