.menu-contents {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 50px;
  position: absolute;
  text-align: left;
  padding-left: 0px;
  padding-right: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.menu-contents::-webkit-scrollbar {
  width: 10px;
}
.menu-contents::-webkit-scrollbar-button {
  background-color: #ffffff;
}

.menu-contents::-webkit-scrollbar-track {
  background-color: #80878a;
}

.menu-contents::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
