.title-frame {
  position: absolute;
  left: 70px;
  right: 0;
  background-color: #eaf0f1;
  display: flex;
  color: #37545f;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
  z-index: 9999;
}

.TopTitleText {
  color: #37545f;
  text-decoration: none;
}
.TopTitleText:hover {
  color: #80878a;
  text-decoration: none;
}
