.title-frame {
  position: absolute;
  left: 50px;
  right: 0;
  background-color: #f7ecf1;
  display: flex;
  color: #37545f;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  z-index: 9999;
  height: 40px;
}

.TopTitleText {
  position: relative;
  color: #37545f;
  text-decoration: none;
}
.TopTitleText:hover {
  color: #80878a;
  text-decoration: none;
}
